<nav class="mainNav">
	<h1><a href="index.html"><img src="/assets/img/logo.png" alt=""></a></h1>
	<ul>
		<li><a href="https://twitter.com/Julien_He" class="twitter">Twitter</a></li>
		<li><a href="http://instagram.com/julien_he" class="instagram">Instagram</a></li>
		<li><a href="http://dribbble.com/Julien_He" class="dribbble">Dribbble</a></li>			
		<li><a href="https://github.com/JulienHe/" class="github">Github</a></li>
		<li><a href="mailto:hoshi.graphi@gmail.com" class="mail">Mail</a></li>
	</ul>
</nav>